# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore everything inside portable-php
portable-php/*

# But keep these folders and everything inside them
!portable-php/data/
!portable-php/data/**
!portable-php/htdocs/
!portable-php/htdocs/**

# And also keep these specific files
!portable-php/router.php
!portable-php/start-server.bat
